
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <style>
        .get-in-touch {
            max-width: 800px;
            margin: 50px auto;
            position: relative;
        }

            .get-in-touch .title {
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 3.2em;
                line-height: 48px;
                padding-bottom: 48px;
                color: #5543ca;
                background: #5543ca;
                background: -moz-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
                background: -webkit-linear-gradient(left,#f4524d 0%,#5543ca 100%) !important;
                background: linear-gradient(to right,#f4524d 0%,#5543ca 100%) !important;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
            }

        .contact-form .form-field {
            position: relative;
            margin: 32px 0;
        }

        .contact-form .input-text {
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #5543ca;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
        }

            .contact-form .input-text:focus {
                outline: none;
            }

                .contact-form .input-text:focus + .label,
                .contact-form .input-text.not-empty + .label {
                    -webkit-transform: translateY(-24px);
                    transform: translateY(-24px);
                }

        .contact-form .label {
            position: absolute;
            left: 20px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #5543ca;
            cursor: text;
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
        }

        .file-input-wrapper {
            position: relative;
            display: inline-block;
            overflow: hidden;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 6px;
        }

        .input-file {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .file-input-text {
            display: inline-block;
            padding-right: 10px;
        }

        .file-input-button {
            display: inline-block;
            background-color: #4CAF50;
            color: #fff;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

            .file-input-button:hover {
                background-color: #45a049;
            }

        .contact-form .submit-btn {
            display: inline-block;
            background-color: #000;
            background-image: linear-gradient(125deg,#a72879,#064497);
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 16px;
            padding: 8px 16px;
            border: none;
            width: 200px;
            cursor: pointer;
        }

    </style>
</head>

<section class="get-in-touch">
    <h1 class="title">Get in touch</h1>
    <form class="contact-form row" asp-controller = "Course" asp-action="CourseManagement"  method="post">
        <div class="form-field col-lg-6 ">
            <input id="NameCourse" class="input-text js-input" name="NameCourse" type="text" required>
            <label class="label" for="NameCourse">NameCourse</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="StartTime" class="input-text js-input" name="StartTime" type="text" required>
            <label class="label" for="StartTime">StartTime</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="EndTime" class="input-text js-input" name="EndTime" type="text" required>
            <label class="label" for="EndTime">EndTime</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="Schedule" class="input-text js-input" name="Schedule" type="text" required>
            <label class="label" for="Schedule">Schedule</label>
        </div>
        <div class="form-field col-lg-12">
            <label class="label" for="DescriptionCourse">DescriptionCourse</label>
            <textarea id="DescriptionCourse" class="input-text js-input" name="DescriptionCourse" required></textarea>
        </div>
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>
